extends base.pug

block content
    div
    
        h1 Daily store totals
    
    
        div(id="login")
            form(action="/login",method="post",id="loginform")
                input(type="text", name="password", value="")
                input(type="submit",id="submitButton", value="Login")
                span(id="loginerrmsg")

        div(id="chart")
            div(id="williamsburg",class="bar")
                div williamsburg
                    div $0
            div(id="bergen",class="bar")
                div bergen
                    div $0
            div(style="clear: both;")
        